<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h6 class="m-0">Free Quote on Car Insurance</h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Quote", "Home", FormMethod.Post))
            {
            <div class="row no-gutters">
                <div class="form-group col-md-5">
                    <input name="firstName" type="text" class="form-control" placeholder="First Name" />
                </div>
                <div class="form-group col-md-5">
                    <input name="lastName" type="text" class="form-control" placeholder="Last Name" />
                </div>
                <div class="form-group col-md-5">
                    <input name="emailAddress" type="email" class="form-control" placeholder="Email Address" />
                </div>
                <div class="form-group col-md-5">
                    <input name="dateOfBirth" type="date" class="form-control" placeholder="Date Of Birth" />
                </div>
                <div class="form-group col-md-5">
                    <input name="carYear" type="number" class="form-control" placeholder="Car Year" />
                </div>
                <div class="form-group col-md-5">
                    <input name="carMake" type="text" class="form-control" placeholder="Car Make" />
                </div>
                <div class="form-group col-md-5">
                    <input name="carModel" type="text" class="form-control" placeholder="Car Model" />
                </div>
                <div class="form-group col-md-5 form-inline">
                    <span>Have you ever had a DUI?</span>
                    <input name="DUI" value="true" type="radio" class="form-control" /> Yes 
                    <input name="DUI" value="false" type="radio" class="form-control" /> No
                </div>
                <div class="form-group col-md-5">
                    <input name="speedingTickets" type="number" class="form-control" placeholder="How Many Speeding Tickets?" />
                </div>
                <div class="form-group col-md-5">
                    <input name="coverage" type="text" class="form-control" placeholder="Full Coverage Or Liability?" />
                </div>


                <button type="submit" class="btn btn-block btn-primary">SUBMIT</button>
            </div>
            }
        </div>
    </div>
</div>